<div class="container">
    <header
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div class="col-md-3 mb-2 mb-md-0">
            <a routerLink="/store" class="d-inline-flex link-body-emphasis h3 text-decoration-none">Bookstore</a>
        </div>
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a routerLink="/store" class="nav-link px-2">Homepage</a></li>
            <li><a routerLink="/store/catalogo" class="nav-link px-2">Catalogo</a></li>
        </ul>
        <div class="col-md-3 text-end">
            <a href="#" type="button" class="btn btn-primary">Area riservata</a>
        </div>
    </header>
</div>

<router-outlet></router-outlet>