<div class="container">
    <div class="row">
        <div class="col-4">
            <ul class="list-group">
                @for (c of categories; track c.category.id) {
                <!-- NOTA -->
                <a [routerLink]="['/store/catalogo', c.category.id]"
                    class="list-group-item d-flex justify-content-between align-items-center">
                    {{ c.category.name }}
                    <span class="badge text-bg-primary rounded-pill">{{ c.n_books }}</span>
                </a>
                }
            </ul>
        </div>
        <div class="col">
            <div class="row">
                @for (b of books; track b.ean) {
                <div class="col-3">
                    <app-card-book [libro]="b"></app-card-book>
                </div>
                }
            </div>
        </div>
    </div>
</div>